body {
	padding-top: 60px;
	padding-bottom: 40px;
	padding-left: 20px;
}
#main .sidebar-nav .form-group {
	padding: 0 10px;
}

#main .jumbotron h1 {
	font-size:53px;
}

#preview img {
  width: 150px;
  margin: 10px;
  border: solid 1px silver;
}

/*ジャンボトロンの書式設定
/* プロジェクト名の高さをナビゲーションと同じにする */
header h3 {
  line-height: 3rem;
}

/* コンテナのカスタマイズ */
@media (min-width: 2500px) {
  .container {
    max-width: 2000px;
  }
}



.modal-footer{
    justify-content: center;
}

.modal-heder.close{
    padding:0;
    margin:0;

}

.form-user-list{
    max-width:600px;
}