
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
​
table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 650px;
      box-shadow: 0 0 15px -6px #00000073;
}
table tr {
  background-color: #fff;
}
table tbody tr:hover{
  background-color: #fffae9;
}
table th,
table td {
  padding: .35em 1em;
  border-bottom: 1px solid #eee;
}
table thead th {
    font-size: .85em;
    padding: 1em;
}
table thead tr{
  background-color: #FFC107;
  color:#fff;
}
table tbody th {
  text-align: left;
  font-size: .8em;
}
.txt{
   text-align: left;
   font-size: .75em;
}

@media screen and (max-width: 600px) {
  table{width: 100%;}
}

/*テーブル中の数字を<span class="tategaki">で挟めば横書き*/
*div {
  writing-mode: vertical-rl;
}
.tategaki {
  text-combine-upright: all;
}


/*テーブルのアイコンをチェックマークで入力*/
i{
  font-size:2em
}
.plan1{
  background: #03A9F4;
}
.plan1_i{
  color:#03A9F4;
}
.plan4{
  background: #009688;
}
.plan4_i{
  color:#009688;
}
.plan3{
  background: #4caf50;
}
.plan3_i{
  color:#4caf50;
}
.plan2{
  background: #cddc39;
}
.plan2_i{
  color:#cddc39;
}


.btn{
  background:#fff;
  color:#000;
  padding: 1em;
  border-radius:5px;
  display:block;
  text-decoration:none;
  font-size:.8em
}

@media screen and (max-width: 600px) {
  .wrap{
     overflow-x: scroll;
  }
}
