body{
  padding:40px 0;
  color:#707070;
}

.form-login{
  width:100%;
  max-width:500px;
  margin:auto;
  padding:15px;
}

.form-login input{
  max-width:300px;
  margin:auto;
  height:50px;
}


.btn{
  height:50px;
}



/** 標準状態 **/
a{
    /*下線を削除*/
    text-decoration: none;
  }
  
  /** マウスホバー時 **/
  a:hover{
    /*下線を表示*/
    text-decoration: underline;
  }



