.tategaki-wrap{
    border: 1px solid red;
    margin: 0 auto;
    width: 1080px;
}

.tategaki{
    background: yellow;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode:vertical-rl;
}

.tategaki__title{
    color: #333;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 40px;
}
.text-combine{
    text-combine-upright: all;
    -webkit-text-combine: horizontal;
    -ms-text-combine-horizontal: all;
}
